extends ./layouts/admin

include ./include-plugins

block body_content
	.html-layout
		.admin-title 前端HTML
		+baby_compensation()
	.editing
		.admin-title 修改區
		for city in cities
			- var areasByCity = areas.filter(function (area) {return area.cityId == city._id;})
			- var defaultArea = areasByCity[0];
			.row
				.col-md-6
					.panel.panel-primary
						.panel-heading 修改#{city.name}全區
						.panel-body
							.pm-input-group
								label #{city.name}
								textarea.pm-input-control(
									id="city_"+city._id
									type="text"
									data-cityid=city._id
									placeholder=""
								)
							.pm-input-group
								button.pm-btn.pm-btn-blue.update-city-compensation-btn(
									data-for="city_"+city._id
								) 更新
							.pm-input-group
								label 網站連結
								input.pm-input-control(
									id="city_"+city._id+"_url"
									type="text"
									data-cityid=city._id
									placeholder=""
								)
							.pm-input-group
								button.pm-btn.pm-btn-blue.update-city-compensation-url-btn(
									data-for="city_"+city._id+"_url"
								) 更新
							.pm-input-group
								label DM連結
								input.pm-input-control(
									id="city_"+city._id+"_dm_url"
									type="text"
									data-cityid=city._id
									placeholder=""
								)
							.pm-input-group
								button.pm-btn.pm-btn-blue.update-city-compensation-dm-url-btn(
									data-for="city_"+city._id+"_dm_url"
								) 更新
				.col-md-6
					.panel.panel-success
						.panel-heading 修改鄉鎮區
						.panel-body
							.pm-input-group
								label 鄉鎮區
								.row
									.col-md-6
										select.pm-input-control.area-selection(
											id="area_"+city._id + "_selection"
											data-cityid=city._id
										)
											for area in areasByCity
												option(value=area._id) #{area.name} #{area.babyCompensation || 0}
									.col-md-6
										textarea.pm-input-control(
											id="city_"+city._id+"_area"
											type="text"
											placeholder="修改鄉鎮區"
										) #{defaultArea.babyCompensation}
							.pm-input-group
								button.pm-btn.pm-btn-blue.update-area-compensation-btn(
									data-for="city_"+city._id+"_area"
									data-forselect="area_"+city._id+"_selection"
								) 更新
							.pm-input-group
								label 網站連結
								input.pm-input-control(
									id="city_"+city._id+"_area_url"
									type="text"
									data-cityid=city._id
									value=defaultArea.babyCompensationUrl || ""
									placeholder=""
								)
							.pm-input-group
								button.pm-btn.pm-btn-blue.update-area-compensation-url-btn(
									data-for="city_"+city._id+"_area_url"
									data-forselect="area_"+city._id+"_selection"
								) 更新
							.pm-input-group
								label DM連結
								input.pm-input-control(
									id="city_"+city._id+"_area_dm_url"
									type="text"
									data-cityid=city._id
									value=defaultArea.babyCompensationDMUrl || ""
									placeholder=""
								)
							.pm-input-group
								button.pm-btn.pm-btn-blue.update-area-compensation-dm-url-btn(
									data-for="city_"+city._id+"_area_dm_url"
									data-forselect="area_"+city._id+"_selection"
								) 更新

append body_scripts
	script(src="/js/baby-compensation.js")
	script(src="/js/baby-compensation-admin.js")
