extends ./layouts/admin

block body_content
	.html-layout
		.admin-title 前端HTML
		#baby-compensation.pm-plugin
			.pm-plugin-title 生育補助計算機
			.pm-plugin-content
				.pm-input-group
					label 縣市
					select.pm-input-control
						option 台北市
				.pm-input-group
					label 鄉鎮區
					select.pm-input-control
						option 大安區
				button.pm-btn.pm-btn-blue 送出
				#baby-compensation-result
			.pm-plugin-footer
	.editing
		.admin-title 修改區
		for city in cities
			- var areasByCity = areas.filter(function (area) {return area.cityId == city._id;})
			.row
				.col-md-4
					.pm-input-group
						label #{city.name} 全區
						input.pm-input-control(
							id="city_"+city._id
							type="text"
							data-cityid=city._id
							placeholder="修改全區"
						)
					.pm-input-group
						button.pm-btn.pm-btn-blue.update-city-compensation-btn(
							data-for="city_"+city._id
						) 更新
				.col-md-4
					.pm-input-group
						label 鄉鎮區
						.row
							.col-md-6
								select.pm-input-control.area-selection(
									id="area_"+city._id + "_selection"
								)
									for area in areasByCity
										option(value=area._id) #{area.name} #{area.babyCompensation || 0}
							.col-md-6
								input.pm-input-control.col-md-6(
									id="area_"+city._id
									type="text"
									placeholder="修改鄉鎮區"
								)
					.pm-input-group
						button.pm-btn.pm-btn-blue.update-area-compensation-btn(
							data-for="area_"+city._id
							data-forselect="area_"+city._id+"_selection"
						) 更新

append body_scripts
	script(src="/js/baby-compensation.js")
	script(src="/js/baby-compensation-admin.js")
